[buildout]
extensions = mr.developer
auto-checkout = *

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = policy.acberchem

package-extras = [test]

parts +=
    robot
    omelette


[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[reload]


[sources]
cirb.testplone = git git@github.com:CIRB/plone-cirb.testplone.git

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
